altair==5.2.0
coverage==7.6.1
dash==2.16.1
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
inflect==7.0.0
pandas==2.2.0
pytest==8.3.3
pytest-mock==3.14.0
PyYAML==6.0.1
toml==0.10.2
requests==2.31.0
streamlit==1.32.2